import os

# 数据源
# 可以访问 Telegram 设置为 None
TelegramMirror = None
# 使用镜像站，镜像站数据来自 http://2019ncov.tk/
# TelegramMirror = 'http://47.75.131.65:9918/api'

# 修改为 钉钉群 机器人 Token 参考：https://ding-doc.dingtalk.com/doc#/serverapi2/qf2nxq/26eaddd5
# 不启用修改为 None
PushToken = os.environ['DingTalkToken']
PushKeyWord = os.environ['DingTalkWord']

# 如需启用，需要手动抓包获取 Token，不启用保持默认
WeiboRef = None
WeiboCookie = None

# 发微博云函数，需要部署云函数
# 不启用修改为 None
WeiboSCFUrl = None
# WeiboSCFUrl = os.environ['WeiboUrl']

# 使用 github action 时需要使用 redis 记录上次抓取的信息 id
# 不使用 action 设置为 None 即可
Redis = os.environ['RedisUrl']

# 微信 Server酱 push，获取 Token 参考：http://sc.ftqq.com/3.version
# 不启用修改为 None
WeixinToken = None

# 关注的城市，所有设置为 None
# 其他设置为字符串即可，使用空格分割多个城市，比如
# City = "北京 武汉 天津"
City = None

LoggerJsonConfig = '''{
    "version":1,
    "disable_existing_loggers":false,
    "formatters":{
        "simple":{
            "format":"[%(asctime)s][%(funcName)-15s:%(lineno)-4s] - %(name)-15s - %(levelname)-5s : %(message)s"
        }
    },
    "handlers":{
        "console":{
            "class":"logging.StreamHandler",
            "level":"DEBUG",
            "formatter":"simple",
            "stream":"ext://sys.stdout"
        },
        "info_file_handler":{
            "class":"logging.handlers.RotatingFileHandler",
            "level":"INFO",
            "formatter":"simple",
            "filename":"info.log",
            "maxBytes":10485760,
            "backupCount":20,
            "encoding":"utf8"
        },
        "error_file_handler":{
            "class":"logging.handlers.RotatingFileHandler",
            "level":"ERROR",
            "formatter":"simple",
            "filename":"errors.log",
            "maxBytes":10485760,
            "backupCount":20,
            "encoding":"utf8"
        }
    },
    "loggers":{
        "my_module":{
            "level":"ERROR",
            "handlers":["info_file_handler"],
            "propagate":"no"
        }
    },
    "root":{
        "level":"INFO",
        "handlers":["console","info_file_handler","error_file_handler"]
    }
}'''
